:root {
  --white: #fff;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8D8D99;
  --gray-500: #7C7C8A;
  --gray-600: #323238;
  --gray-700: #202024;
  --gray-800: #121214;

  --green-light: #00B37E;
  --green: #00875F;

  --red-danger: #F75A68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-800);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}